*{
    margin:0;
    padding:0;
}
body{
    background-color: aquamarine;
}
.container{
    background-color: coral;
    width:400px;
    height:400px;
    margin:40px 180px;
    margin-left:450px;
    border:2px solid black;
}
.Amount{
    margin:20px;
    font-size:30px;
}
input{
    width:100%;
    height:40px;
    border:2px solid gray;
    border-radius:10px;
    margin-top:20px;
}
.country-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:20px;
}
#im{
    width: 40px;
    height:40px;
}
img{
    width:60px;
    height: 40px;
}
.from-country,.to-country{
    display:flex;
    align-items: center;
    justify-content: center;
}
#msg{
    margin:40px 100px;
    font-size: 20px;
}
select{
    width:40px;
    height:20px;
    border:2px solid gray;
    border-radius:5px;
    margin:10px;
}
button{
    width:80%;
    height:70px;
    margin:40px;
    background-color: black;
    color:white;
    border:2px solid gray;
    border-radius:10px;
}
