*{
    margin:0;
    padding:0;
    background-color: rgba(0, 255, 145, 0.467);
}
.boxes{
    width:120px;
    height:120px;
    background-color: rgb(127, 236, 255);
    border-radius:3px;
    box-shadow: 0 0 0 3rgba(0,0,0,0.5px);
    margin:5px;
    font-size: 40px;
    color: red;
}
.game-container{
    margin-top: 50px;
    width:400px;
    height:400px;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 400px;
}
.btn{
    width:70px;
    height:40px;
    background-color:rgb(201, 130, 234);
    margin-left: 570px; 
    margin-top:50px;  
}
.hide{
    display: none;
}

.msg{
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
}